<!DOCTYPE html>
<html>
<head>
	<title>Visynth</title>
	<!--Import Google Icon Font-->
    {% load static %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" href="favicon.png">
	<link rel = "stylesheet" type = "text/css" href = {%  static "styles.css" %}>
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="background"></div>
	<div class="search_container">
		<h1 class="main_title">Visynth</h1>
		<div class="search">
            <form method = "POST" action = "/">
                <input type="text" name="Search" class="centered" placeholder="Image url...">
                <button name="submit" id="submit" class="search_button">Generate music</button>
            </form>
    	</div>
    </div>
</body>
<script src="audiosynth.js">
</script>
<script src="notePlaying.js">
</script>
</html>